* {
    box-sizing: border-box;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    margin: auto;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-content: space-between;
}

.grid div {
    background-color: #e91e63;
    display: grid;
    justify-content: center;
    align-items: center;
}